/* Estilo para el carrusel */
#carousel-cuerpo .carousel-item {
  margin-right: 0 !important;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

/* Estilo para secciones con efecto de vidrio */
.section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Carrusel personalizado */
.carousel.carousel-1 {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel.carousel-1 .carousel-inner {
  display: flex;
}

.carousel.carousel-1 .carousel-item {
  flex: 0 0 auto;
  width: 100%;
  padding: 0 10px;
}

.carousel.carousel-1 img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: filter 0.3s ease;
}

.carousel.carousel-1 img:hover {
  filter: brightness(40%);
}

/* Superposición de imagen con efecto de opacidad */
.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

/* Formulario alineado a la izquierda */
.form-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.short-input {
  max-width: 300px;
}

button.is-small.is-info {
  margin-bottom: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

/* Estilos para la galería de vehículos de lujo */
.luxury-vehicle {
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
}

.card img {
  display: block;
  margin: auto;
}

.card .content {
  text-align: center;
}

/* Botón de scroll-to-top */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  opacity: 0.3;
  transition: opacity 0.3s;
}

#scroll-to-top.is-active {
  opacity: 1;
}

.icon {
  font-size: 20px;
  color: #fff;
}

/* Estilos para el footer */
.footer .copyright {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #ddd;
}
